{# templates/update.jinja2 #}
    result = dict(comment=[], ret={}, result=True)

    tags = (
        hub.tool.aws.tag_utils.convert_tag_list_to_dict(tags)
        if isinstance(tags, List)
        else tags
    )

    desired_state = {
        k: v
        for k, v in locals().items()
        if k not in ("hub", "ctx", "kwargs", "result") and v is not None
    }

    payload = {}
    {%  if function.hardcoded.boto3_function %}
    resource_to_raw_input_mapping = {{ "{" }}
    {%- for key, value in function.hardcoded.function_resource_to_input_param_mappings.items() %}
        "{{ key }}": "{{ value }}"{% if not loop.last %},{% endif -%}
    {% endfor %}
    {{ "}" }}

    for key, value in desired_state.items():
        if key in resource_to_raw_input_mapping.keys() and value is not None:
            payload[resource_to_raw_input_mapping[key]] = desired_state.get(key)
    {% endif %}

    if payload:
        {%  if function.hardcoded.boto3_function %}
        # TODO: Check response syntax in boto3 documentation: {{ function.hardcoded.boto3_documentation }}
        ret = await {{ function.hardcoded.boto3_function }}(
            ctx,
            {{ "ClientToken=client_token or name," if function.hardcoded.has_client_token -}}
            **payload
        )
        {% else %}
        # TODO: Failed to determine UPDATE function
        # Read documentation: {{ function.hardcoded.boto3_documentation }}
        ret = {}
        {%  endif %}

        if not ret["result"]:
            result["result"] = False
            result["comment"].append(
                f"Could not update aws.{{ function.hardcoded.aws_service_name }}.{{ function.hardcoded.resource_name }} '{name}'",
            )
            result["comment"].append(ret["comment"])
            return result

        result["comment"].append(f"Updated aws.{{ function.hardcoded.aws_service_name }}.{{ function.hardcoded.resource_name }} '{name}'",)

        {% if 'tags' not in function.hardcoded.function_resource_to_input_param_mappings %}
        get_tags_ret = await hub.tool.aws.{{ function.hardcoded.aws_service_name }}.tag.get_tags_for_resource(
            ctx,
            resource_id=resource_id
        )

        if get_tags_ret["result"]:
            current_tags = get_tags_ret.get("ret", {})
            update_tags_ret = await hub.tool.aws.{{ function.hardcoded.aws_service_name }}.tag.update_tags(
                ctx,
                resource_id=resource_id,
                old_tags=current_tags,
                new_tags=tags
            )
            if not update_tags_ret["result"]:
                result["result"] = False
                result["comment"] += update_tags_ret["comment"]
                return result
        {% endif %}
        result["ret"]["resource_id"] = resource_id
        result["ret"]["name"] = name
    return result
