{# templates/default.jinja2 #}
    result = dict(comment=[], ret=None, result=True)

    ret = await {{ function.hardcoded.boto3_function }}(
        ctx,
        {{ "ClientToken=name," if function.hardcoded.has_client_token -}}
        **{{ parameter.mapping.kwargs|default({}) }}
    )

    result["result"] = ret["result"]
    if not result["result"]:
        result["comment"].append(ret["comment"])
        return result

    # TODO: Check response syntax in boto3 documentation: {{ function.hardcoded.boto3_documentation }}
    result["ret"] = ret["ret"]

    return result
